doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(rel="icon" href="#")
=======
>>>>>>> 2d9ee3850e676fa65bef45b611cd2d3ed9237b44
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/custom.sass')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css", integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD", crossorigin="anonymous")

    //- Bundle
    script(src='/javascripts/bundle.js')

    //- Aframe Components
    //- Networked-Aframe
    script(src="/socket.io/socket.io.js") 
    script(src="/easyrtc/easyrtc.js")
    //- Networked-Aframe End

    //- Networked-Aframe Template
    script(src="/javascripts/templates.js") 

    //- Aframe-randomizer
    script(src="https://unpkg.com/aframe-randomizer-components@^3.0.1/dist/aframe-randomizer-components.min.js")

    //- Aframe Virtual UML
    //- Dependencies
<<<<<<< HEAD
    script(src="/javascripts/metasee-extensions/virtualuml/THREE.MeshLine.js")
    script(src="/javascripts/metasee-extensions/virtualuml/meshline.component.js")

    //- Virtual UML component
    script(src="/javascripts/metasee-extensions/virtualuml/metasee.virtualuml.extension.js") 
=======
    script(src="http://localhost:7100/lib/THREE.MeshLine.js")

    //- Virtual UML component
    script(src="http://localhost:7100/dist/virtualuml.min.js") 
>>>>>>> 2d9ee3850e676fa65bef45b611cd2d3ed9237b44
    //- Aframe Virtual UML End

    //- Aframe Components End
  body
    block content

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" ,integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" , crossorigin="anonymous")

    script.
      //- Bootstrap Tooltip
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl)) 
      //- Bootstrap Tooltip End

    //- JQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js") 

<<<<<<< HEAD
    //- STORAGE
    script(src="/javascripts/storage/APIstorage.js") 
    script(src="/javascripts/storage/localStorage.js") 


    script(src="/javascripts/metasee.events.js") 
    script(src="/javascripts/component-events/default.events.js")
    script(src="/javascripts/component-events/virtualuml.events.js")
=======
    script(src="/javascripts/metasee.events.js") 
    script(src="/javascripts/component-events/default.js")
    script(src="/javascripts/component-events/virtualuml.js")
>>>>>>> 2d9ee3850e676fa65bef45b611cd2d3ed9237b44
