//- Toasts
.toast-container.position-fixed.bottom-0.end-0.p-3
  #UMLclassDeletedToast.toast(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header
      strong.me-auto MetaSEE
      button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
<<<<<<< HEAD
    .toast-body 

.toast-container.position-fixed.bottom-0.end-0.p-3
  #UMLassociationDeletedToast.toast(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header
      strong.me-auto MetaSEE
      button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
=======
>>>>>>> 2d9ee3850e676fa65bef45b611cd2d3ed9237b44
    .toast-body 